.users-container{
    margin: 1.5em;
    padding: 2em;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.title-users{
    color: #00ADB5;
    margin-bottom: 1rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0 10px 10px 10px;
}
@media only screen and (max-width: 470px){
    .users-container{
        padding: 1em;
    }
    .grid-container{
        grid-template-columns: 100%;
        padding: 0;
    }
}
@media only screen and (min-width: 471px) and (max-width: 900px){
    .grid-container{
        grid-template-columns: 50% 50%;
        padding: 0;
    }
}