.user-card{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    text-align: center;
    display: grid;
    grid-template-columns: 75% 25%;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items>h2{
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0.5rem;
}
.items>p{
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 0.5rem;
}
.items>p.cursive{
    font-size: 1em;
    font-style: italic;
}
.left{
    display: grid;
    grid-template-rows: 50% 50%;
}
.left>button{
    font-size: 1.5em;
    border-style: none;
    margin: 0.3rem;
    border-radius: 5px;
    color: white;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: none;
}
.delete{
    background-color: #F23C50;
}
.delete:hover{
    background-color: #d42300;
}
.edit{
    background-color: #428bca;
}
.edit:hover{
    background-color: #365899;
}